In [2]:
# 
# DAY 3: Data Wrangling: a way to address data quality issues such as missing values, duplicates, outliers and formatting inconsistencies
# 
# Import required Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# 
# Load the data
bike_data = pd.read_csv("../data/bikes.csv")
bike_data

,date,real_temperature,feel_temperature,humidity,wind_speed,weather_code,is_holiday,is_weekend,season,count
0,04/01/2015,2.75,0.00,93.00,7.500000,broken_clouds,False,True,winter,9234
1,05/01/2015,9.00,7.25,81.50,8.854167,broken_clouds,False,False,winter,20372
2,06/01/2015,8.00,5.75,79.75,16.000000,clear,False,False,winter,20613
3,07/01/2015,9.00,5.50,81.00,19.760870,scattered_clouds,False,False,winter,21064
4,08/01/2015,9.00,6.75,79.50,20.479167,rain,False,False,winter,15601
...,...,...,...,...,...,...,...,...,...,...
725,30/12/2016,4.00,1.00,100.00,9.000000,cloudy,False,False,winter,11566
726,31/12/2016,7.50,5.00,90.00,13.312500,cloudy,False,True,winter,11424
727,01/01/2017,7.00,4.75,90.00,14.125000,rain,False,True,winter,6421
728,02/01/2017,3.25,0.50,82.50,11.166667,clear,True,False,winter,11823
729,03/01/2017,4.50,0.50,81.00,18.937500,clear,False,False,winter,19436

In [4]:
# 
# Get information on the csv data
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              730 non-null    object
 1   real_temperature  730 non-null    float64
 2   feel_temperature  657 non-null    float64
 3   humidity          730 non-null    float64
 4   wind_speed        730 non-null    float64
 5   weather_code      679 non-null    object
 6   is_holiday        730 non-null    bool
 7   is_weekend        730 non-null    bool
 8   season            694 non-null    object
 9   count             730 non-null    int64
dtypes: bool(2), float64(4), int64(1), object(3)
memory usage: 47.2+ KB

In [5]:
# 
# Get basic statistics on columns that have numerical values
bike_data.describe()

,real_temperature,feel_temperature,humidity,wind_speed,count
count,730.000000,657.000000,730.000000,730.000000,730.000000
mean,12.481849,11.506088,73.034932,15.954665,27268.454795
std,5.086471,6.110233,10.245519,6.221691,8607.700254
min,0.250000,-2.000000,40.500000,2.770833,4869.000000
25%,8.812500,6.250000,65.250000,11.208333,21940.750000
50%,12.625000,12.500000,73.750000,15.166667,27011.500000
75%,16.187500,16.000000,80.750000,19.906250,33431.250000
max,28.500000,29.000000,100.000000,41.900000,72504.000000

In [6]:
# 
# Look at the shape of the data
bike_data.shape

(730, 10)

In [7]:
# 
# Randomize the selection of a number of rows
bike_data.sample(10)

,date,real_temperature,feel_temperature,humidity,wind_speed,weather_code,is_holiday,is_weekend,season,count
554,11/07/2016,18.00,18.0,76.25,22.000000,NaN,False,False,summer,32420
447,26/03/2016,10.00,8.0,82.00,22.578947,broken_clouds,False,True,spring,10053
632,28/09/2016,17.50,NaN,80.00,21.250000,scattered_clouds,False,False,autumm,38529
661,27/10/2016,12.50,12.5,81.00,17.020833,scattered_clouds,False,False,autumm,33888
399,07/02/2016,8.00,4.0,76.00,27.413043,scattered_clouds,False,True,winter,14025
104,18/04/2015,9.50,6.5,65.25,22.583333,scattered_clouds,False,True,spring,29595
616,12/09/2016,22.00,22.0,64.00,11.541667,clear,False,False,autumm,39261
472,20/04/2016,8.75,6.0,75.00,19.125000,clear,False,False,spring,34197
443,22/03/2016,9.00,8.0,66.00,6.000000,clear,False,False,spring,29150
721,26/12/2016,9.00,5.0,72.00,22.020833,clear,True,False,winter,11455

In [8]:
# 
# Select one column
feel_temp = bike_data["feel_temperature"]
feel_temp

0      0.00
1      7.25
2      5.75
3      5.50
4      6.75
       ...
725    1.00
726    5.00
727    4.75
728    0.50
729    0.50
Name: feel_temperature, Length: 730, dtype: float64

In [9]:
# 
# Select multiple columns (slicing or sub-setting)
temp = bike_data[["real_temperature", "feel_temperature"]]
temp

     real_temperature  feel_temperature
0                2.75              0.00
1                9.00              7.25
2                8.00              5.75
3                9.00              5.50
4                9.00              6.75
..                ...               ...
725              4.00              1.00
726              7.50              5.00
727              7.00              4.75
728              3.25              0.50
729              4.50              0.50

[730 rows x 2 columns]

In [10]:
# 
# Make a copy to perform different analysis strategies on the copies
# Strategy 1: Remove/Drop all rows with null values (useful when you have a very large dataset with millions of rows)
# Strategy 2: Replace the null values with either a median or mean values of that column with numerical values 
toy_bikes = bike_data.copy()

In [11]:
# 
# List a random sample of 5 rows
toy_bikes.sample(5)

,date,real_temperature,feel_temperature,humidity,wind_speed,weather_code,is_holiday,is_weekend,season,count
366,05/01/2016,9.00,7.75,85.75,8.437500,scattered_clouds,False,False,winter,22805
603,29/08/2016,19.25,19.25,65.00,8.333333,scattered_clouds,True,False,summer,34176
413,21/02/2016,13.00,13.00,78.25,30.791667,broken_clouds,False,True,winter,14670
497,15/05/2016,12.75,12.75,59.50,12.395833,clear,False,True,spring,34302
15,19/01/2015,2.25,1.25,76.50,6.187500,NaN,False,False,winter,23034

In [12]:
# 
# Check number of missing entries per column
toy_bikes.isnull().sum()

date                 0
real_temperature     0
feel_temperature    73
humidity             0
wind_speed           0
weather_code        51
is_holiday           0
is_weekend           0
season              36
count                0
dtype: int64

In [13]:
# 
# Drop missing (null/NaN) entries temporarily and show how the table would look like
toy_bikes.dropna()

,date,real_temperature,feel_temperature,humidity,wind_speed,weather_code,is_holiday,is_weekend,season,count
0,04/01/2015,2.75,0.00,93.00,7.500000,broken_clouds,False,True,winter,9234
1,05/01/2015,9.00,7.25,81.50,8.854167,broken_clouds,False,False,winter,20372
2,06/01/2015,8.00,5.75,79.75,16.000000,clear,False,False,winter,20613
3,07/01/2015,9.00,5.50,81.00,19.760870,scattered_clouds,False,False,winter,21064
4,08/01/2015,9.00,6.75,79.50,20.479167,rain,False,False,winter,15601
...,...,...,...,...,...,...,...,...,...,...
725,30/12/2016,4.00,1.00,100.00,9.000000,cloudy,False,False,winter,11566
726,31/12/2016,7.50,5.00,90.00,13.312500,cloudy,False,True,winter,11424
727,01/01/2017,7.00,4.75,90.00,14.125000,rain,False,True,winter,6421
728,02/01/2017,3.25,0.50,82.50,11.166667,clear,True,False,winter,11823
729,03/01/2017,4.50,0.50,81.00,18.937500,clear,False,False,winter,19436

In [14]:
# 
# Check if there are null (missing) values remaining after applying dropna()
toy_bikes.isnull().sum()

date                 0
real_temperature     0
feel_temperature    73
humidity             0
wind_speed           0
weather_code        51
is_holiday           0
is_weekend           0
season              36
count                0
dtype: int64

In [15]:
# 
# Drop Null (missing) values permanently
toy_bikes.dropna(inplace=True)
# 
toy_bikes.reset_index(drop=True)
# 
# Check if there are null values remaining
toy_bikes.isnull().sum()

date                0
real_temperature    0
feel_temperature    0
humidity            0
wind_speed          0
weather_code        0
is_holiday          0
is_weekend          0
season              0
count               0
dtype: int64

In [16]:
# 
# Make a copy of the original data to use strategy 2
bikes_imputted = bike_data.copy()
# 
# Impute the missing data for 'feel_temperature'
# Calculate the mean of the column
mean_feel_temperature = bikes_imputted["feel_temperature"].mean()
# 
# Fill missing values
bikes_temp_imputted = bikes_imputted["feel_temperature"].fillna(mean_feel_temperature)
bikes_temp_imputted

0      0.00
1      7.25
2      5.75
3      5.50
4      6.75
       ...
725    1.00
726    5.00
727    4.75
728    0.50
729    0.50
Name: feel_temperature, Length: 730, dtype: float64

In [17]:
#
# Get the minimum 'feel_temperature' value
bikes_temp_imputted.min()

-2.0

In [18]:
# 
# Get the maximum 'feel_temperature' value
bikes_temp_imputted.max()

29.0

In [19]:
# 
# Get the mode of 'feel_temparature' values
bikes_temp_imputted.mode()

0    11.506088
Name: feel_temperature, dtype: float64

In [20]:
# 
# Get the frequency of each unique value
bikes_temp_imputted.value_counts()

feel_temperature
 11.506088    73
 13.000000    29
 14.000000    25
 6.000000     22
 12.000000    21
              ..
 10.500000     1
 25.500000     1
 22.500000     1
 21.750000     1
-0.750000      1
Name: count, Length: 99, dtype: int64

In [21]:
# 
# Creating a new column 'feel_temp_imputted' from a DataFrame copy
bikes_imputted["feel_temp_imputted"] = bikes_imputted["feel_temperature"].fillna(mean_feel_temperature)
# 
# Creating a new column that has the average of 'feel_temperature' and the 'feel_temp_imputted' columns
bikes_imputted["average_temperature"] = (bikes_imputted["feel_temp_imputted"] + bikes_imputted["real_temperature"]) / 2
# 
# bikes_imputted.sample(20)
bikes_imputted

,date,real_temperature,feel_temperature,humidity,wind_speed,weather_code,is_holiday,is_weekend,season,count,feel_temp_imputted,average_temperature
0,04/01/2015,2.75,0.00,93.00,7.500000,broken_clouds,False,True,winter,9234,0.00,1.375
1,05/01/2015,9.00,7.25,81.50,8.854167,broken_clouds,False,False,winter,20372,7.25,8.125
2,06/01/2015,8.00,5.75,79.75,16.000000,clear,False,False,winter,20613,5.75,6.875
3,07/01/2015,9.00,5.50,81.00,19.760870,scattered_clouds,False,False,winter,21064,5.50,7.250
4,08/01/2015,9.00,6.75,79.50,20.479167,rain,False,False,winter,15601,6.75,7.875
...,...,...,...,...,...,...,...,...,...,...,...,...
725,30/12/2016,4.00,1.00,100.00,9.000000,cloudy,False,False,winter,11566,1.00,2.500
726,31/12/2016,7.50,5.00,90.00,13.312500,cloudy,False,True,winter,11424,5.00,6.250
727,01/01/2017,7.00,4.75,90.00,14.125000,rain,False,True,winter,6421,4.75,5.875
728,02/01/2017,3.25,0.50,82.50,11.166667,clear,True,False,winter,11823,0.50,1.875
729,03/01/2017,4.50,0.50,81.00,18.937500,clear,False,False,winter,19436,0.50,2.500

In [22]:
# 
# Drop 'feel_temperature' and 'real_temperature' columns 
bikes_imputted.drop(["feel_temperature","real_temperature"], axis=1, inplace=True)
bikes_imputted

,date,humidity,wind_speed,weather_code,is_holiday,is_weekend,season,count,feel_temp_imputted,average_temperature
0,04/01/2015,93.00,7.500000,broken_clouds,False,True,winter,9234,0.00,1.375
1,05/01/2015,81.50,8.854167,broken_clouds,False,False,winter,20372,7.25,8.125
2,06/01/2015,79.75,16.000000,clear,False,False,winter,20613,5.75,6.875
3,07/01/2015,81.00,19.760870,scattered_clouds,False,False,winter,21064,5.50,7.250
4,08/01/2015,79.50,20.479167,rain,False,False,winter,15601,6.75,7.875
...,...,...,...,...,...,...,...,...,...,...
725,30/12/2016,100.00,9.000000,cloudy,False,False,winter,11566,1.00,2.500
726,31/12/2016,90.00,13.312500,cloudy,False,True,winter,11424,5.00,6.250
727,01/01/2017,90.00,14.125000,rain,False,True,winter,6421,4.75,5.875
728,02/01/2017,82.50,11.166667,clear,True,False,winter,11823,0.50,1.875
729,03/01/2017,81.00,18.937500,clear,False,False,winter,19436,0.50,2.500

In [23]:
bikes_imputted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 730 non-null    object
 1   humidity             730 non-null    float64
 2   wind_speed           730 non-null    float64
 3   weather_code         679 non-null    object
 4   is_holiday           730 non-null    bool
 5   is_weekend           730 non-null    bool
 6   season               694 non-null    object
 7   count                730 non-null    int64
 8   feel_temp_imputted   730 non-null    float64
 9   average_temperature  730 non-null    float64
dtypes: bool(2), float64(4), int64(1), object(3)
memory usage: 47.2+ KB

In [24]:
# 
# Fill missing values in 'season' column using interpolation by padding
bikes_imputted['season'].interpolate(method='pad', inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_5896\1994487606.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bikes_imputted['season'].interpolate(method='pad', inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_5896\1994487606.py:3: FutureWarning: Series.interpolate with method=pad is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bikes_imputted['season'].interpolate(method='pad', inplace=True)

In [25]:
# 
# How many bikes are hired per season
values_per_season = bikes_imputted['season'].value_counts()
values_per_season

season
spring    185
summer    184
autumm    181
winter    180
Name: count, dtype: int64

In [27]:
plt.scatter(values_per_season)

TypeError: scatter() missing 1 required positional argument: 'y'