In [1]:
# 
# Array Indexing and slicing arrays
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [2]:
# 
# Access the first array
matrix[0]

[1, 2, 3]

In [3]:
# 
# Access the number: 6
matrix[1][2]

6

In [4]:
# 
# Access number: 8
matrix[2][1]

8

In [6]:
# 
# Slicing
matrix[0:2]

[[1, 2, 3], [4, 5, 6]]

In [12]:
# 
# Slice number:9
matrix[2:][0][2]

9

In [15]:
# 
# Get the 2nd element
matrix[1][0:]

[4, 5, 6]

In [14]:
# 
# Get numbers 4 & 5
matrix[1][0:2]

[4, 5]

In [17]:
# 
# get the first element of each row using a list comprehension instead of a for loop
[row[0] for row in matrix]

[1, 4, 7]

In [18]:
# 
# get the third element of each row using a list comprehension
[row[2] for row in matrix]

[3, 6, 9]

In [19]:
# 
# Get the second element in each row using a for loop
for row in matrix:
    print(row[1])

2
5
8

In [20]:
# 
# Accessing keys and vaslues in a dictionary
students = {
    'john': {
        'age': 15,
        'grade': 'a'
    },
    'jane': {
        'age': 14,
        'grade': 'b'
    }
}

In [27]:
# 
# Get all information about Jane
students['jane']

{'age': 14, 'grade': 'b'}

In [28]:
# 
# Print a sentence using her values
print(f"Jane is {students['jane']['age']} years old and she got a mean grade of {students['jane']['grade'].capitalize()} for her KCSE")

Jane is 14 years old and she got a mean grade of B for her KCSE

In [29]:
data = {
    'maths': [90, 80, 85],
    'science': [75, 85, 92]
}

In [30]:
# 
# Get all the science scores.
data['science']

[75, 85, 92]

In [32]:
# 
# Get the last 2 elements of maths
data['maths'][1:]

[80, 85]

In [41]:
# 
# Get average for math scores
sum = 0
for mark in data['maths']:
    sum += mark

avg = sum / len(data['maths'])
avg

85.0

In [44]:
complex_data = [
    {
        'name': 'john',
        'grades': {
            'maths': [90, 85, 88],
            'science': [70, 72]
        }
    },
    {
        'name': 'alice',
        'grades': {
            'maths': [10, 56, 68],
            'science': [95, 99]
        }
    }
]

In [45]:
# 
# Access 85
complex_data[0]['grades']['maths'][1]

85

In [47]:
# 
# Access 99
complex_data[1]['grades']['science'][1]

99

In [48]:
student_data = [
    {
        
    }
]

In [49]:
# List comprehension
# [student['name'] for student in student_data['students'] if student['age'] > 16]
# 
# [student for student in student_data['students'] if student['grades']['english'] >= 16]

In [ ]:
# 
# Imaginary number